body {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #3f3844;
}


.input {
  font-size: 1rem;
  font-weight: 700;
  color: #3f3844;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-bottom: #3f3844 solid 0.1rem;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}

.input:focus {
  border: #3f3844 solid 0.1rem;
  border-bottom: #3f3844 solid 0.5rem;
  outline: none;
}

.tasklist {
  background-color:white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  min-height: 1.35rem;
  margin: 0.75rem;
  list-style: none;
  border: #3f3844 solid 2px;
  border-bottom: #3f3844 solid 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.icon {
  float:right;
  margin: 0 0.5rem 0 0.5rem;
}

article {
  display: grid;
}

.edit-todo {
  width:85%;
  border: none;
  border-bottom: #3f3844 solid 1px;
  outline: none;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
  border-radius: 5px;
  padding-left: 0.3rem;
}

.edit-todo:focus {
  border-bottom: #3f3844 solid 0.2rem;
  outline: none;
}


.button {
  margin: 1rem 0 0 1rem;
  padding: 0.25rem 1rem;
  color: #3f3844;
  background-color: white;
  border: #3f3844 solid 2px;
  border-radius: 5px;
  border-bottom: #3f3844 solid 4px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button.selected {
  color: white;
  background-color: #3f3844;
}